/* screen - frame-17 */

.frame-17 {
  align-items: flex-end;
  border: 1px none;
  display: flex;
  height: 100vh;
  min-height: 441px;
  min-width: 1537px;
  width: 100%;
}

.frame-17 .x2022-09-11-1207 {
  height: 397px;
  min-width: 256px;
  object-fit: cover;
}

.frame-17 .x2022-09-11-1207-1 {
  height: 375px;
  min-width: 257px;
  object-fit: cover;
}

.frame-17 .x2022-09-11-1207-2 {
  height: 411px;
  min-width: 230px;
  object-fit: cover;
}

.frame-17 .x2022-09-11-1206 {
  height: 441px;
  min-width: 266px;
  object-fit: cover;
}

.frame-17 .x2022-09-11-1206-1 {
  height: 344px;
  min-width: 262px;
  object-fit: cover;
}

.frame-17 .x2022-09-11-1206-2 {
  height: 289px;
  min-width: 266px;
  object-fit: cover;
}
